#Icones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.Pedra{
    background-color: transparent;
    color: black;
    display: inline-block;

}

.Tesoura{
    background-color:transparent;
    color: darkred;
    display: inline-block;

}

.Papel{
    background-color:transparent;
    color: azure;
    display: inline-block;

}

.name{
    text-align: center;
    font-size: 32;
}
.subname{
    text-align: center;
    font-size: 14;
}