#Icones{
    display: inline-block;
}


.Pedra{
    background-color: green;
    color: black;
    display: inline-block;

}

.Tesoura{
    background-color:darkred;
    color: darkred;
    display: inline-block;

}

.Papel{
    background-color:blue;
    color: azure;
    display: inline-block;

}

.name{
    text-align: center;
    font-size: 32;
}
.subname{
    text-align: center;
    font-size: 14;
}